In [1]:
import pandas as pd

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('training.csv', parse_dates=['PurchDate'])

In [15]:
df.head().transpose()

,0,1,2,3,4
RefId,1,2,3,4,5
IsBadBuy,0,0,0,0,0
PurchDate,2009-12-07 00:00:00,2009-12-07 00:00:00,2009-12-07 00:00:00,2009-12-07 00:00:00,2009-12-07 00:00:00
Auction,ADESA,ADESA,ADESA,ADESA,ADESA
VehYear,2006,2004,2005,2004,2005
VehicleAge,3,5,4,5,4
Make,MAZDA,DODGE,DODGE,DODGE,FORD
Model,MAZDA3,1500 RAM PICKUP 2WD,STRATUS V6,NEON,FOCUS
Trim,i,ST,SXT,SXT,ZX3
SubModel,4D SEDAN I,QUAD CAB 4.7L SLT,4D SEDAN SXT FFV,4D SEDAN,2D COUPE ZX3
Color,RED,WHITE,MAROON,SILVER,SILVER
Transmission,AUTO,AUTO,AUTO,AUTO,MANUAL
WheelTypeID,1,1,2,1,2
WheelType,Alloy,Alloy,Covers,Alloy,Covers
VehOdo,89046,93593,73807,65617,69367
Nationality,OTHER ASIAN,AMERICAN,AMERICAN,AMERICAN,AMERICAN
Size,MEDIUM,LARGE TRUCK,MEDIUM,COMPACT,COMPACT
TopThreeAmericanName,OTHER,CHRYSLER,CHRYSLER,CHRYSLER,FORD
MMRAcquisitionAuctionAveragePrice,8155,6854,3202,1893,3913
MMRAcquisitionAuctionCleanPrice,9829,8383,4760,2675,5054
MMRAcquisitionRetailAveragePrice,11636,10897,6943,4658,7723
MMRAcquisitonRetailCleanPrice,13600,12572,8457,5690,8707
MMRCurrentAuctionAveragePrice,7451,7456,4035,1844,3247
MMRCurrentAuctionCleanPrice,8552,9222,5557,2646,4384
MMRCurrentRetailAveragePrice,11597,11374,7146,4375,6739
MMRCurrentRetailCleanPrice,12409,12791,8702,5518,7911
PRIMEUNIT,NaN,NaN,NaN,NaN,NaN
AUCGUART,NaN,NaN,NaN,NaN,NaN
BYRNO,21973,19638,19638,19638,19638
VNZIP1,33619,33619,33619,33619,33619
VNST,FL,FL,FL,FL,FL
VehBCost,7100,7600,4900,4100,4000
IsOnlineSale,0,0,0,0,0
WarrantyCost,1113,1053,1389,630,1020

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
RefId                                72983 non-null int64
IsBadBuy                             72983 non-null int64
PurchDate                            72983 non-null datetime64[ns]
Auction                              72983 non-null object
VehYear                              72983 non-null int64
VehicleAge                           72983 non-null int64
Make                                 72983 non-null object
Model                                72983 non-null object
Trim                                 70623 non-null object
SubModel                             72975 non-null object
Color                                72975 non-null object
Transmission                         72974 non-null object
WheelTypeID                          69814 non-null float64
WheelType                            69809 non-null object
VehOdo                               72983 non-null int64
Nationality                          72978 non-null object
Size                                 72978 non-null object
TopThreeAmericanName                 72978 non-null object
MMRAcquisitionAuctionAveragePrice    72965 non-null float64
MMRAcquisitionAuctionCleanPrice      72965 non-null float64
MMRAcquisitionRetailAveragePrice     72965 non-null float64
MMRAcquisitonRetailCleanPrice        72965 non-null float64
MMRCurrentAuctionAveragePrice        72668 non-null float64
MMRCurrentAuctionCleanPrice          72668 non-null float64
MMRCurrentRetailAveragePrice         72668 non-null float64
MMRCurrentRetailCleanPrice           72668 non-null float64
PRIMEUNIT                            3419 non-null object
AUCGUART                             3419 non-null object
BYRNO                                72983 non-null int64
VNZIP1                               72983 non-null int64
VNST                                 72983 non-null object
VehBCost                             72983 non-null float64
IsOnlineSale                         72983 non-null int64
WarrantyCost                         72983 non-null int64
dtypes: datetime64[ns](1), float64(10), int64(9), object(14)
memory usage: 18.9+ MB

In [8]:
df['Model'].nunique()

1063

In [11]:
df['WheelTypeID'].value_counts()

1.0    36050
2.0    33004
3.0      755
0.0        5
Name: WheelTypeID, dtype: int64

In [13]:
df['IsBadBuy'].value_counts()

0    64007
1     8976
Name: IsBadBuy, dtype: int64